body {
  margin: 0;
  font-family: 'Sansita', sans-serif;
  background: #fdf2f8;
}

/* HEADER */
header {
  text-align: center;
  padding: 30px 20px;
  margin-top: 30px;
}


header p {
  font-size: 25px;
  margin: auto;
}

/* CONTAINER GRID */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* CARD */
.card {
  background: white;
  border-radius: 14px;
  height: 420px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card h3 {
  text-align: center;
  margin: 16px 0;
  font-size: 20px;
}

/* BUTTONS */
.b {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  padding: 0 16px 20px;
}

.buy {
  background: #ec4899;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.cart {
  background: #8b5cf6;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
}

.buy:hover {
  background: #db2777;
}

.cart:hover {
  background: #7c3aed;
}

/* RESPONSIVE */
@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .card {
    flex-basis: 80%;
  }

  .card h3 {
    font-size: 30px;
  }

  .card img {
    width: 100%;
  }
}